<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/29449d396dacb28fd9949c709ccf02a46b910156/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/82d7c82f084d5157d7b87a17c76af984dd23dbbf/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/0b02796a7856cc00772962a55a5f5bf288b681cb/css/music/_init_.css"/>

    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/42990b31d7d7605a.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">我们的精神角落</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 4.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="on">
            <a href="https://music.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



       








<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https://music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">唱片名、表演者、条码、ISRC</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
      <style>
          .nav-search,
          .nav .nav-primary {
              overflow: visible !important;
          }
          .nav-search {
              margin-left: 145px;
          }
      </style>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://music.douban.com/artists/">音乐人</a></li>
             
                 <li><a href="https://music.douban.com/artists/royalty/">金羊毛计划</a></li>
             
                 <li><a href="https://music.douban.com/topics/">专题</a></li>
             
                 <li><a href="https://music.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://music.douban.com/tag/">分类浏览</a></li>
             
                 <li><a href="https://music.douban.com/review/latest/">乐评</a></li>
             
                 <li><a href="https://music.douban.com/programmes/">歌单</a></li>
             
                 <li><a href="https://douban.fm/?from_=music_nav">豆瓣FM</a></li>
             
                 <li><a href="https://artist.douban.com/abilu/2015">阿比鹿2015</a></li>
      
      </ul>
  </div>

  </div>
</div>

    <script id="suggResult" type="text/template">
        <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg'})">
                <img src="{{= pic}}" width="40" />
                <div>
                    <em>{{= title}}</em>
                    {{if type == "m"}}
                        <span>(艺术家)</span>
                    {{else type == "a"}}
                        <span>(音乐人)</span>
                    {{else type == "d"}}
                        <span>(DJ)</span>
                    {{else type == "l"}}
                        <span>(厂牌)</span>
                    {{/if}}
                    {{if other_title}}
                        <span>其他名称：{{= other_title}}</span>
                    {{/if}}
                    {{if performer}}
                        <p>表演者：{{= performer}}</p>
                    {{/if}}
                    {{if cn_name}}
                        <p>{{= cn_name}}</p>
                    {{/if}}
                    {{if en_name}}
                        <p>{{= en_name}}</p>
                    {{/if}}
                </div>
            </a>
        </li>
    </script>
  
  





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    


    
          <p class="ulfirst"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394808/"    title="王菲 - 唱游">
                    <img src="https://img3.doubanio.com/spic/s2749634.jpg" alt="王菲 - 唱游"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394808/"  title="唱游"  >
                        唱游
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                24451人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394808"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/25927970/"    title="朴树 - 平凡之路">
                    <img src="https://img1.doubanio.com/spic/s27326029.jpg" alt="朴树 - 平凡之路"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/25927970/"  title="平凡之路"  >
                        平凡之路
                         / <span style="font-size:12px;">电影《后会无期》宣传曲</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                24677人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_25927970"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2350942/"    title="曹方 - 比天空还远">
                    <img src="https://img3.doubanio.com/spic/s2755385.jpg" alt="曹方 - 比天空还远"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2350942/"  title="比天空还远"  >
                        比天空还远
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                25835人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2350942"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/11027027/"    title="張懸 - 神的游戏">
                    <img src="https://img1.doubanio.com/spic/s11174008.jpg" alt="張懸 - 神的游戏"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/11027027/"  title="神的游戏"  >
                        神的游戏
                         / <span style="font-size:12px;">Games We Play / 神的遊戲</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                25067人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_11027027"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1405324/"    title="朴树 - 我去2000年">
                    <img src="https://img1.doubanio.com/spic/s4715377.jpg" alt="朴树 - 我去2000年"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1405324/"  title="我去2000年"  >
                        我去2000年
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                24338人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1405324"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2266925/"    title="李宗盛 - 理性与感性作品音乐会">
                    <img src="https://img3.doubanio.com/spic/s2891182.jpg" alt="李宗盛 - 理性与感性作品音乐会"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2266925/"  title="理性与感性作品音乐会"  >
                        理性与感性作品音乐会
                         / <span style="font-size:12px;">理性与感性作品音乐会</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.5</span>

                            <span class="pl">(
                                23237人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2266925"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4138573/"    title="My Little Airport - 介乎法國與旺角的詩意">
                    <img src="https://img3.doubanio.com/spic/s4057285.jpg" alt="My Little Airport - 介乎法國與旺角的詩意"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4138573/"  title="介乎法國與旺角的詩意"  >
                        介乎法國與旺角的詩意
                         / <span style="font-size:12px;">介乎法国与旺角的诗意 / poetics - something between montparnasse and mongkok</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.1</span>

                            <span class="pl">(
                                26102人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4138573"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1427941/"    title="梁静茹 - 丝路">
                    <img src="https://img3.doubanio.com/spic/s27986033.jpg" alt="梁静茹 - 丝路"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1427941/"  title="丝路"  >
                        丝路
                         / <span style="font-size:12px;">通往爱的路途</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.2</span>

                            <span class="pl">(
                                25600人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1427941"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2153935/"    title="James Blunt - All The Lost Souls">
                    <img src="https://img3.doubanio.com/spic/s2609413.jpg" alt="James Blunt - All The Lost Souls"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2153935/"  title="All The Lost Souls"  >
                        All The Lost Souls
                         / <span style="font-size:12px;">失落的灵魂</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                24815人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2153935"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2299845/"    title="窦唯 - 黑梦">
                    <img src="https://img3.doubanio.com/spic/s3081692.jpg" alt="窦唯 - 黑梦"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2299845/"  title="黑梦"  >
                        黑梦
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                23319人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2299845"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4009831/"    title="陈奕迅 - 上五楼的快活">
                    <img src="https://img3.doubanio.com/spic/s3969572.jpg" alt="陈奕迅 - 上五楼的快活"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4009831/"  title="上五楼的快活"  >
                        上五楼的快活
                         / <span style="font-size:12px;">上五楼的快活</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.7</span>

                            <span class="pl">(
                                26665人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4009831"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1408794/"    title="F.I.R.... - F.I.R.">
                    <img src="https://img3.doubanio.com/spic/s4124010.jpg" alt="F.I.R.... - F.I.R."/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1408794/"  title="F.I.R."  >
                        F.I.R.
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                24505人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1408794"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2042799/"    title="Linkin Park - Minutes to Midnight">
                    <img src="https://img3.doubanio.com/spic/s2665031.jpg" alt="Linkin Park - Minutes to Midnight"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2042799/"  title="Minutes to Midnight"  >
                        Minutes to Midnight
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.2</span>

                            <span class="pl">(
                                24911人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2042799"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2164654/"    title="周杰倫... - 不能说的秘密">
                    <img src="https://img1.doubanio.com/spic/s2652097.jpg" alt="周杰倫... - 不能说的秘密"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2164654/"  title="不能说的秘密"  >
                        不能说的秘密
                         / <span style="font-size:12px;">不能說的秘密</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                23934人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2164654"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2264207/"    title="蔡健雅... - GOODBYE &amp; HELLO">
                    <img src="https://img1.doubanio.com/spic/s27067658.jpg" alt="蔡健雅... - GOODBYE &amp; HELLO"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2264207/"  title="GOODBYE &amp; HELLO"  >
                        GOODBYE &amp; HELLO
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                24139人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2264207"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1875211/"    title="苏打绿 - 迟到千年">
                    <img src="https://img3.doubanio.com/spic/s4567536.jpg" alt="苏打绿 - 迟到千年"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1875211/"  title="迟到千年"  >
                        迟到千年
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                23260人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1875211"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6064884/"    title="Adele - Someone Like You">
                    <img src="https://img3.doubanio.com/spic/s4689205.jpg" alt="Adele - Someone Like You"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6064884/"  title="Someone Like You"  >
                        Someone Like You
                         / <span style="font-size:12px;">另觅沧海</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.5</span>

                            <span class="pl">(
                                22215人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6064884"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6047523/"    title="GALA - 追梦痴子心">
                    <img src="https://img1.doubanio.com/spic/s4682959.jpg" alt="GALA - 追梦痴子心"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6047523/"  title="追梦痴子心"  >
                        追梦痴子心
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                22941人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6047523"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3837067/"    title="王菲 - 王菲 2001">
                    <img src="https://img3.doubanio.com/spic/s27066361.jpg" alt="王菲 - 王菲 2001"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3837067/"  title="王菲 2001"  >
                        王菲 2001
                         / <span style="font-size:12px;">Faye Wong 2001</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                22486人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3837067"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4884299/"    title="莫文蔚 - 宝贝">
                    <img src="https://img3.doubanio.com/spic/s4425103.jpg" alt="莫文蔚 - 宝贝"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4884299/"  title="宝贝"  >
                        宝贝
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.9</span>

                            <span class="pl">(
                                24777人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4884299"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1401759/"    title="陈奕迅 - 黑白灰">
                    <img src="https://img3.doubanio.com/spic/s4088274.jpg" alt="陈奕迅 - 黑白灰"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1401759/"  title="黑白灰"  >
                        黑白灰
                         / <span style="font-size:12px;">Black, White &amp; Grey / 黑·白·灰</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                22329人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1401759"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395685/"    title="Pink Floyd - The Dark Side of the Moon">
                    <img src="https://img3.doubanio.com/spic/s1476691.jpg" alt="Pink Floyd - The Dark Side of the Moon"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395685/"  title="The Dark Side of the Moon"  >
                        The Dark Side of the Moon
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                22084人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395685"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1404703/"    title="The Innocence Mission - Now The Day Is Over">
                    <img src="https://img3.doubanio.com/spic/s1506405.jpg" alt="The Innocence Mission - Now The Day Is Over"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1404703/"  title="Now The Day Is Over"  >
                        Now The Day Is Over
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.4</span>

                            <span class="pl">(
                                23536人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1404703"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3035043/"    title="宇多田ヒカル - Prisoner of Love">
                    <img src="https://img3.doubanio.com/spic/s3104656.jpg" alt="宇多田ヒカル - Prisoner of Love"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3035043/"  title="Prisoner of Love"  >
                        Prisoner of Love
                         / <span style="font-size:12px;">爱情的俘虏</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                21956人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3035043"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6974122/"    title="逃跑计划 - 夜空中最亮的星">
                    <img src="https://img3.doubanio.com/spic/s7050455.jpg" alt="逃跑计划 - 夜空中最亮的星"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6974122/"  title="夜空中最亮的星"  >
                        夜空中最亮的星
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.5</span>

                            <span class="pl">(
                                21466人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6974122"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=100"/>
            <a href="https://music.douban.com/top250?start=100" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                <span class="thispage" data-total-page="10">6</span>
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=150"/>
            <a href="https://music.douban.com/top250?start=150" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/4802317b29bcd694.js"></script>
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis15-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

