<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/29449d396dacb28fd9949c709ccf02a46b910156/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/82d7c82f084d5157d7b87a17c76af984dd23dbbf/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/0b02796a7856cc00772962a55a5f5bf288b681cb/css/music/_init_.css"/>

    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/42990b31d7d7605a.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">我们的精神角落</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 4.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="on">
            <a href="https://music.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



       








<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https://music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">唱片名、表演者、条码、ISRC</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
      <style>
          .nav-search,
          .nav .nav-primary {
              overflow: visible !important;
          }
          .nav-search {
              margin-left: 145px;
          }
      </style>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://music.douban.com/artists/">音乐人</a></li>
             
                 <li><a href="https://music.douban.com/artists/royalty/">金羊毛计划</a></li>
             
                 <li><a href="https://music.douban.com/topics/">专题</a></li>
             
                 <li><a href="https://music.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://music.douban.com/tag/">分类浏览</a></li>
             
                 <li><a href="https://music.douban.com/review/latest/">乐评</a></li>
             
                 <li><a href="https://music.douban.com/programmes/">歌单</a></li>
             
                 <li><a href="https://douban.fm/?from_=music_nav">豆瓣FM</a></li>
             
                 <li><a href="https://artist.douban.com/abilu/2015">阿比鹿2015</a></li>
      
      </ul>
  </div>

  </div>
</div>

    <script id="suggResult" type="text/template">
        <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg'})">
                <img src="{{= pic}}" width="40" />
                <div>
                    <em>{{= title}}</em>
                    {{if type == "m"}}
                        <span>(艺术家)</span>
                    {{else type == "a"}}
                        <span>(音乐人)</span>
                    {{else type == "d"}}
                        <span>(DJ)</span>
                    {{else type == "l"}}
                        <span>(厂牌)</span>
                    {{/if}}
                    {{if other_title}}
                        <span>其他名称：{{= other_title}}</span>
                    {{/if}}
                    {{if performer}}
                        <p>表演者：{{= performer}}</p>
                    {{/if}}
                    {{if cn_name}}
                        <p>{{= cn_name}}</p>
                    {{/if}}
                    {{if en_name}}
                        <p>{{= en_name}}</p>
                    {{/if}}
                </div>
            </a>
        </li>
    </script>
  
  





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    


    
          <p class="ulfirst"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3088329/"    title="陈奕迅 - 不想放手">
                    <img src="https://img3.doubanio.com/spic/s3146476.jpg" alt="陈奕迅 - 不想放手"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3088329/"  title="不想放手"  >
                        不想放手
                         / <span style="font-size:12px;">Don&#39;t Want to Let Go</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                29221人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3088329"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2044199/"    title="Avril Lavigne - The Best Damn Thing">
                    <img src="https://img3.doubanio.com/spic/s2362973.jpg" alt="Avril Lavigne - The Best Damn Thing"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2044199/"  title="The Best Damn Thing"  >
                        The Best Damn Thing
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.7</span>

                            <span class="pl">(
                                30891人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2044199"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1415369/"    title="Ennio Morricone - The Legend of 1900">
                    <img src="https://img3.doubanio.com/spic/s1426141.jpg" alt="Ennio Morricone - The Legend of 1900"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1415369/"  title="The Legend of 1900"  >
                        The Legend of 1900
                         / <span style="font-size:12px;">海上钢琴师</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.4</span>

                            <span class="pl">(
                                26565人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1415369"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3746394/"    title="徐佳莹 - 徐佳瑩La La首张创作专辑">
                    <img src="https://img3.doubanio.com/spic/s3819180.jpg" alt="徐佳莹 - 徐佳瑩La La首张创作专辑"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3746394/"  title="徐佳瑩La La首张创作专辑"  >
                        徐佳瑩La La首张创作专辑
                         / <span style="font-size:12px;">La La首張創作專輯</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.2</span>

                            <span class="pl">(
                                29182人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3746394"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1422072/"    title="五月天 - 知足 just my pride 最真杰作选">
                    <img src="https://img3.doubanio.com/spic/s1443616.jpg" alt="五月天 - 知足 just my pride 最真杰作选"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1422072/"  title="知足 just my pride 最真杰作选"  >
                        知足 just my pride 最真杰作选
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                26900人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1422072"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1407472/"    title="张楚 - 孤独的人是可耻的">
                    <img src="https://img3.doubanio.com/spic/s3266121.jpg" alt="张楚 - 孤独的人是可耻的"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1407472/"  title="孤独的人是可耻的"  >
                        孤独的人是可耻的
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                27026人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1407472"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394818/"    title="The Beatles - 1">
                    <img src="https://img3.doubanio.com/spic/s1400070.jpg" alt="The Beatles - 1"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394818/"  title="1"  >
                        1
                         / <span style="font-size:12px;">The Beatles 1 / No.1</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.4</span>

                            <span class="pl">(
                                26335人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394818"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394600/"    title="Coldplay - X&amp;Y">
                    <img src="https://img3.doubanio.com/spic/s1400630.jpg" alt="Coldplay - X&amp;Y"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394600/"  title="X&amp;Y"  >
                        X&amp;Y
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.4</span>

                            <span class="pl">(
                                28087人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394600"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2347182/"    title="Adele - 19">
                    <img src="https://img3.doubanio.com/spic/s2841982.jpg" alt="Adele - 19"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2347182/"  title="19"  >
                        19
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                28058人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2347182"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2267400/"    title="My Little Airport - 我们在炎热与抑郁的夏天，无法停止抽烟">
                    <img src="https://img3.doubanio.com/spic/s2722802.jpg" alt="My Little Airport - 我们在炎热与抑郁的夏天，无法停止抽烟"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2267400/"  title="我们在炎热与抑郁的夏天，无法停止抽烟"  >
                        我们在炎热与抑郁的夏天，无法停止抽烟
                         / <span style="font-size:12px;">We Can&#39;t Stop Smoking in the Vicious and Blue Summer</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.1</span>

                            <span class="pl">(
                                28898人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2267400"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4706451/"    title="陈奕迅 - Time Flies">
                    <img src="https://img3.doubanio.com/spic/s4217513.jpg" alt="陈奕迅 - Time Flies"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4706451/"  title="Time Flies"  >
                        Time Flies
                         / <span style="font-size:12px;">时日如飞</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                27116人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4706451"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1405022/"    title="孙燕姿 - YAN ZI">
                    <img src="https://img3.doubanio.com/spic/s4067651.jpg" alt="孙燕姿 - YAN ZI"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1405022/"  title="YAN ZI"  >
                        YAN ZI
                         / <span style="font-size:12px;">孫燕姿 / SUN YAN-ZI</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                26490人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1405022"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3222423/"    title="周杰伦 - 魔杰座">
                    <img src="https://img3.doubanio.com/spic/s3292023.jpg" alt="周杰伦 - 魔杰座"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3222423/"  title="魔杰座"  >
                        魔杰座
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar35"></span>
                            <span class="rating_nums">6.9</span>

                            <span class="pl">(
                                32136人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3222423"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1408748/"    title="五月天 - 时光机">
                    <img src="https://img3.doubanio.com/spic/s4718016.jpg" alt="五月天 - 时光机"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1408748/"  title="时光机"  >
                        时光机
                         / <span style="font-size:12px;">mayday&#39;s time machine</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                26603人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1408748"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3143363/"    title="陈绮贞 - 失败者的飞翔">
                    <img src="https://img1.doubanio.com/spic/s3164468.jpg" alt="陈绮贞 - 失败者的飞翔"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3143363/"  title="失败者的飞翔"  >
                        失败者的飞翔
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                27456人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3143363"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1891318/"    title="梁静茹 - 亲亲">
                    <img src="https://img1.doubanio.com/spic/s1876827.jpg" alt="梁静茹 - 亲亲"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1891318/"  title="亲亲"  >
                        亲亲
                         / <span style="font-size:12px;">親親</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.1</span>

                            <span class="pl">(
                                27967人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1891318"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6082657/"    title="陈奕迅 - Stranger Under My Skin">
                    <img src="https://img3.doubanio.com/spic/s4644120.jpg" alt="陈奕迅 - Stranger Under My Skin"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6082657/"  title="Stranger Under My Skin"  >
                        Stranger Under My Skin
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                26660人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6082657"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6722110/"    title="田馥甄 - My Love">
                    <img src="https://img3.doubanio.com/spic/s6884320.jpg" alt="田馥甄 - My Love"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6722110/"  title="My Love"  >
                        My Love
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.0</span>

                            <span class="pl">(
                                27562人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6722110"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394747/"    title="Norah Jones - Come Away with Me">
                    <img src="https://img1.doubanio.com/spic/s4714568.jpg" alt="Norah Jones - Come Away with Me"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394747/"  title="Come Away with Me"  >
                        Come Away with Me
                         / <span style="font-size:12px;">远走高飞</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                26055人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394747"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2052256/"    title="陈奕迅 - 认了吧">
                    <img src="https://img1.doubanio.com/spic/s3947069.jpg" alt="陈奕迅 - 认了吧"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2052256/"  title="认了吧"  >
                        认了吧
                         / <span style="font-size:12px;">Admit it</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                25974人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2052256"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1769327/"    title="王菲 - 你王菲所以我王菲">
                    <img src="https://img1.doubanio.com/spic/s2951748.jpg" alt="王菲 - 你王菲所以我王菲"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1769327/"  title="你王菲所以我王菲"  >
                        你王菲所以我王菲
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.4</span>

                            <span class="pl">(
                                24770人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1769327"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3533452/"    title="Green Day - 21st Century Breakdown">
                    <img src="https://img3.doubanio.com/spic/s3727625.jpg" alt="Green Day - 21st Century Breakdown"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3533452/"  title="21st Century Breakdown"  >
                        21st Century Breakdown
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                26171人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3533452"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2078050/"    title="陈绮贞 - 花的姿态：演唱会经典实录">
                    <img src="https://img1.doubanio.com/spic/s2377978.jpg" alt="陈绮贞 - 花的姿态：演唱会经典实录"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2078050/"  title="花的姿态：演唱会经典实录"  >
                        花的姿态：演唱会经典实录
                         / <span style="font-size:12px;">花的姿態經典實錄精裝版2CD+DVD</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                24648人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2078050"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1758337/"    title="GALA - Young For You">
                    <img src="https://img1.doubanio.com/spic/s1629838.jpg" alt="GALA - Young For You"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1758337/"  title="Young For You"  >
                        Young For You
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                25408人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1758337"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1405050/"    title="孙燕姿 - 自选集">
                    <img src="https://img1.doubanio.com/spic/s3151869.jpg" alt="孙燕姿 - 自选集"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1405050/"  title="自选集"  >
                        自选集
                         / <span style="font-size:12px;">Start Yan-zi</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                24944人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1405050"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=75"/>
            <a href="https://music.douban.com/top250?start=75" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                <span class="thispage" data-total-page="10">5</span>
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=125"/>
            <a href="https://music.douban.com/top250?start=125" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/4802317b29bcd694.js"></script>
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis15-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

