<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/29449d396dacb28fd9949c709ccf02a46b910156/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/82d7c82f084d5157d7b87a17c76af984dd23dbbf/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/0b02796a7856cc00772962a55a5f5bf288b681cb/css/music/_init_.css"/>

    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/42990b31d7d7605a.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">我们的精神角落</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 4.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="on">
            <a href="https://music.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



       








<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https://music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">唱片名、表演者、条码、ISRC</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
      <style>
          .nav-search,
          .nav .nav-primary {
              overflow: visible !important;
          }
          .nav-search {
              margin-left: 145px;
          }
      </style>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://music.douban.com/artists/">音乐人</a></li>
             
                 <li><a href="https://music.douban.com/artists/royalty/">金羊毛计划</a></li>
             
                 <li><a href="https://music.douban.com/topics/">专题</a></li>
             
                 <li><a href="https://music.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://music.douban.com/tag/">分类浏览</a></li>
             
                 <li><a href="https://music.douban.com/review/latest/">乐评</a></li>
             
                 <li><a href="https://music.douban.com/programmes/">歌单</a></li>
             
                 <li><a href="https://douban.fm/?from_=music_nav">豆瓣FM</a></li>
             
                 <li><a href="https://artist.douban.com/abilu/2015">阿比鹿2015</a></li>
      
      </ul>
  </div>

  </div>
</div>

    <script id="suggResult" type="text/template">
        <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg'})">
                <img src="{{= pic}}" width="40" />
                <div>
                    <em>{{= title}}</em>
                    {{if type == "m"}}
                        <span>(艺术家)</span>
                    {{else type == "a"}}
                        <span>(音乐人)</span>
                    {{else type == "d"}}
                        <span>(DJ)</span>
                    {{else type == "l"}}
                        <span>(厂牌)</span>
                    {{/if}}
                    {{if other_title}}
                        <span>其他名称：{{= other_title}}</span>
                    {{/if}}
                    {{if performer}}
                        <p>表演者：{{= performer}}</p>
                    {{/if}}
                    {{if cn_name}}
                        <p>{{= cn_name}}</p>
                    {{/if}}
                    {{if en_name}}
                        <p>{{= en_name}}</p>
                    {{/if}}
                </div>
            </a>
        </li>
    </script>
  
  





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    


    
          <p class="ulfirst"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6903119/"    title="陈奕迅 - ？">
                    <img src="https://img1.doubanio.com/spic/s6988468.jpg" alt="陈奕迅 - ？"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6903119/"  title="？"  >
                        ？
                         / <span style="font-size:12px;">问号</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.0</span>

                            <span class="pl">(
                                20470人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6903119"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1986653/"    title="The Velvet Underground... - The Velvet Underground &amp; Nico">
                    <img src="https://img3.doubanio.com/spic/s1883423.jpg" alt="The Velvet Underground... - The Velvet Underground &amp; Nico"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1986653/"  title="The Velvet Underground &amp; Nico"  >
                        The Velvet Underground &amp; Nico
                         / <span style="font-size:12px;">地下丝绒与妮可</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                18658人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1986653"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1462686/"    title="林海 - 琵琶相">
                    <img src="https://img3.doubanio.com/spic/s4716282.jpg" alt="林海 - 琵琶相"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1462686/"  title="琵琶相"  >
                        琵琶相
                         / <span style="font-size:12px;">Pipa images LIN HAI &amp; FRIENDS 2</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                18223人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1462686"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2154228/"    title="彭坦 - 少年故事">
                    <img src="https://img3.doubanio.com/spic/s2616115.jpg" alt="彭坦 - 少年故事"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2154228/"  title="少年故事"  >
                        少年故事
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.0</span>

                            <span class="pl">(
                                20174人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2154228"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394569/"    title="Suede - Suede">
                    <img src="https://img3.doubanio.com/spic/s1496506.jpg" alt="Suede - Suede"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394569/"  title="Suede"  >
                        Suede
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                18858人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394569"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1923738/"    title="雷光夏 - 黑暗之光">
                    <img src="https://img3.doubanio.com/spic/s1960062.jpg" alt="雷光夏 - 黑暗之光"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1923738/"  title="黑暗之光"  >
                        黑暗之光
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                18870人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1923738"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394652/"    title="Radiohead - The Bends">
                    <img src="https://img1.doubanio.com/spic/s4713649.jpg" alt="Radiohead - The Bends"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394652/"  title="The Bends"  >
                        The Bends
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                18365人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394652"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1419831/"    title="范晓萱 - 我要我们在一起">
                    <img src="https://img3.doubanio.com/spic/s1432740.jpg" alt="范晓萱 - 我要我们在一起"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1419831/"  title="我要我们在一起"  >
                        我要我们在一起
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                18823人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1419831"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3021469/"    title="Owl City - Maybe I&#39;m Dreaming">
                    <img src="https://img3.doubanio.com/spic/s3409351.jpg" alt="Owl City - Maybe I&#39;m Dreaming"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3021469/"  title="Maybe I&#39;m Dreaming"  >
                        Maybe I&#39;m Dreaming
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.4</span>

                            <span class="pl">(
                                19352人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3021469"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1419375/"    title="五月天 - 人生海海">
                    <img src="https://img1.doubanio.com/spic/s1945209.jpg" alt="五月天 - 人生海海"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1419375/"  title="人生海海"  >
                        人生海海
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                17883人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1419375"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1796484/"    title="Lily Allen - Alright,Still">
                    <img src="https://img3.doubanio.com/spic/s2824792.jpg" alt="Lily Allen - Alright,Still"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1796484/"  title="Alright,Still"  >
                        Alright,Still
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                19225人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1796484"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3435496/"    title="李志 - 工体东路没有人">
                    <img src="https://img1.doubanio.com/spic/s3561838.jpg" alt="李志 - 工体东路没有人"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3435496/"  title="工体东路没有人"  >
                        工体东路没有人
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                18082人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3435496"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3013779/"    title="牛奶@咖啡 - 越长大越孤单">
                    <img src="https://img3.doubanio.com/spic/s2975545.jpg" alt="牛奶@咖啡 - 越长大越孤单"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3013779/"  title="越长大越孤单"  >
                        越长大越孤单
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.6</span>

                            <span class="pl">(
                                20335人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3013779"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3729307/"    title="戴佩妮 - 原谅我就是这样的女生">
                    <img src="https://img1.doubanio.com/spic/s3767058.jpg" alt="戴佩妮 - 原谅我就是这样的女生"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3729307/"  title="原谅我就是这样的女生"  >
                        原谅我就是这样的女生
                         / <span style="font-size:12px;">原諒我就是這樣的女生</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.6</span>

                            <span class="pl">(
                                20318人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3729307"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1401365/"    title="The Beatles - Let It Be">
                    <img src="https://img3.doubanio.com/spic/s1410146.jpg" alt="The Beatles - Let It Be"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1401365/"  title="Let It Be"  >
                        Let It Be
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                17574人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1401365"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1403801/"    title="梁静茹 - 燕尾蝶">
                    <img src="https://img1.doubanio.com/spic/s3595798.jpg" alt="梁静茹 - 燕尾蝶"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1403801/"  title="燕尾蝶"  >
                        燕尾蝶
                         / <span style="font-size:12px;">燕尾蝶-下定愛的決心</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">8.0</span>

                            <span class="pl">(
                                19614人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1403801"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3158576/"    title="Daniel Powter - Under the Radar">
                    <img src="https://img1.doubanio.com/spic/s3273497.jpg" alt="Daniel Powter - Under the Radar"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3158576/"  title="Under the Radar"  >
                        Under the Radar
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                18910人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3158576"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2083053/"    title="五月天 - 知足 MV / Karaoke DVD">
                    <img src="https://img3.doubanio.com/spic/s4713371.jpg" alt="五月天 - 知足 MV / Karaoke DVD"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2083053/"  title="知足 MV / Karaoke DVD"  >
                        知足 MV / Karaoke DVD
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                17592人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2083053"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/11524982/"    title="曲婉婷 - 我的歌声里">
                    <img src="https://img3.doubanio.com/spic/s11176273.jpg" alt="曲婉婷 - 我的歌声里"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/11524982/"  title="我的歌声里"  >
                        我的歌声里
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.7</span>

                            <span class="pl">(
                                18498人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_11524982"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/5365287/"    title="王菲 - 传奇">
                    <img src="https://img3.doubanio.com/spic/s4185764.jpg" alt="王菲 - 传奇"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/5365287/"  title="传奇"  >
                        传奇
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                17682人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_5365287"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/10767657/"    title="林宥嘉 - 大小說家">
                    <img src="https://img1.doubanio.com/spic/s10385947.jpg" alt="林宥嘉 - 大小說家"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/10767657/"  title="大小說家"  >
                        大小說家
                         / <span style="font-size:12px;">Fiction</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.9</span>

                            <span class="pl">(
                                19122人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_10767657"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3843530/"    title="汪峰 - 信仰在空中飘扬">
                    <img src="https://img1.doubanio.com/spic/s3910069.jpg" alt="汪峰 - 信仰在空中飘扬"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3843530/"  title="信仰在空中飘扬"  >
                        信仰在空中飘扬
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                18126人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3843530"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1403573/"    title="莫文蔚 - [i]">
                    <img src="https://img1.doubanio.com/spic/s3944348.jpg" alt="莫文蔚 - [i]"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1403573/"  title="[i]"  >
                        [i]
                         / <span style="font-size:12px;">Karen Love</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                18085人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1403573"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395446/"    title="Maroon 5 - Songs About Jane">
                    <img src="https://img3.doubanio.com/spic/s3377025.jpg" alt="Maroon 5 - Songs About Jane"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395446/"  title="Songs About Jane"  >
                        Songs About Jane
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                17949人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395446"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/5292091/"    title="陈绮贞 - Demo 3">
                    <img src="https://img1.doubanio.com/spic/s4571919.jpg" alt="陈绮贞 - Demo 3"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/5292091/"  title="Demo 3"  >
                        Demo 3
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                17317人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_5292091"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=175"/>
            <a href="https://music.douban.com/top250?start=175" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                <span class="thispage" data-total-page="10">9</span>
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=225"/>
            <a href="https://music.douban.com/top250?start=225" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/4802317b29bcd694.js"></script>
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis15-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

