<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/29449d396dacb28fd9949c709ccf02a46b910156/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/82d7c82f084d5157d7b87a17c76af984dd23dbbf/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/0b02796a7856cc00772962a55a5f5bf288b681cb/css/music/_init_.css"/>

    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/42990b31d7d7605a.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">我们的精神角落</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 4.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="on">
            <a href="https://music.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



       








<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https://music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">唱片名、表演者、条码、ISRC</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
      <style>
          .nav-search,
          .nav .nav-primary {
              overflow: visible !important;
          }
          .nav-search {
              margin-left: 145px;
          }
      </style>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://music.douban.com/artists/">音乐人</a></li>
             
                 <li><a href="https://music.douban.com/artists/royalty/">金羊毛计划</a></li>
             
                 <li><a href="https://music.douban.com/topics/">专题</a></li>
             
                 <li><a href="https://music.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://music.douban.com/tag/">分类浏览</a></li>
             
                 <li><a href="https://music.douban.com/review/latest/">乐评</a></li>
             
                 <li><a href="https://music.douban.com/programmes/">歌单</a></li>
             
                 <li><a href="https://douban.fm/?from_=music_nav">豆瓣FM</a></li>
             
                 <li><a href="https://artist.douban.com/abilu/2015">阿比鹿2015</a></li>
      
      </ul>
  </div>

  </div>
</div>

    <script id="suggResult" type="text/template">
        <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg'})">
                <img src="{{= pic}}" width="40" />
                <div>
                    <em>{{= title}}</em>
                    {{if type == "m"}}
                        <span>(艺术家)</span>
                    {{else type == "a"}}
                        <span>(音乐人)</span>
                    {{else type == "d"}}
                        <span>(DJ)</span>
                    {{else type == "l"}}
                        <span>(厂牌)</span>
                    {{/if}}
                    {{if other_title}}
                        <span>其他名称：{{= other_title}}</span>
                    {{/if}}
                    {{if performer}}
                        <p>表演者：{{= performer}}</p>
                    {{/if}}
                    {{if cn_name}}
                        <p>{{= cn_name}}</p>
                    {{/if}}
                    {{if en_name}}
                        <p>{{= en_name}}</p>
                    {{/if}}
                </div>
            </a>
        </li>
    </script>
  
  





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    


    
          <p class="ulfirst"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395452/"    title="Keane - Hopes And Fears">
                    <img src="https://img3.doubanio.com/spic/s1492974.jpg" alt="Keane - Hopes And Fears"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395452/"  title="Hopes And Fears"  >
                        Hopes And Fears
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                20388人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395452"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1419566/"    title="Maximilian Hecker - Lady Sleep">
                    <img src="https://img1.doubanio.com/spic/s3087867.jpg" alt="Maximilian Hecker - Lady Sleep"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1419566/"  title="Lady Sleep"  >
                        Lady Sleep
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                20497人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1419566"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394541/"    title="陈奕迅 - U87">
                    <img src="https://img3.doubanio.com/spic/s3856032.jpg" alt="陈奕迅 - U87"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394541/"  title="U87"  >
                        U87
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                19517人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394541"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3567851/"    title="棉花糖... - 小飞行">
                    <img src="https://img3.doubanio.com/spic/s4715963.jpg" alt="棉花糖... - 小飞行"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3567851/"  title="小飞行"  >
                        小飞行
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.9</span>

                            <span class="pl">(
                                21788人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3567851"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1458367/"    title="Coldplay - Yellow">
                    <img src="https://img3.doubanio.com/spic/s4087364.jpg" alt="Coldplay - Yellow"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1458367/"  title="Yellow"  >
                        Yellow
                         / <span style="font-size:12px;">黄色</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                19395人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1458367"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395762/"    title="久石譲(Joe Hisaishi)... - 天空の城ラピュタ サウンドトラック 飛行石の謎">
                    <img src="https://img3.doubanio.com/spic/s1489321.jpg" alt="久石譲(Joe Hisaishi)... - 天空の城ラピュタ サウンドトラック 飛行石の謎"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395762/"  title="天空の城ラピュタ サウンドトラック 飛行石の謎"  >
                        天空の城ラピュタ サウンドトラック 飛行石の謎
                         / <span style="font-size:12px;">天空之城 原声碟</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.5</span>

                            <span class="pl">(
                                19028人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395762"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1788941/"    title="陈绮贞 - 讓我想一想">
                    <img src="https://img3.doubanio.com/spic/s3821060.jpg" alt="陈绮贞 - 讓我想一想"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1788941/"  title="讓我想一想"  >
                        讓我想一想
                         / <span style="font-size:12px;">让我想一想</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                19707人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1788941"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2359692/"    title="方大同 - 未来">
                    <img src="https://img3.doubanio.com/spic/s2839973.jpg" alt="方大同 - 未来"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2359692/"  title="未来"  >
                        未来
                         / <span style="font-size:12px;">Wonderland</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                20815人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2359692"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394742/"    title="崔健 - 新长征路上的摇滚">
                    <img src="https://img1.doubanio.com/spic/s1399998.jpg" alt="崔健 - 新长征路上的摇滚"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394742/"  title="新长征路上的摇滚"  >
                        新长征路上的摇滚
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                19433人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394742"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4032611/"    title="卢广仲 - 七天">
                    <img src="https://img3.doubanio.com/spic/s4039256.jpg" alt="卢广仲 - 七天"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4032611/"  title="七天"  >
                        七天
                         / <span style="font-size:12px;">盧廣仲 Crowd Lu 2009 New Album 2009 全新創作專輯</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar40"></span>
                            <span class="rating_nums">7.8</span>

                            <span class="pl">(
                                21491人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4032611"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1950025/"    title="方大同 - 爱爱爱">
                    <img src="https://img3.doubanio.com/spic/s1981880.jpg" alt="方大同 - 爱爱爱"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1950025/"  title="爱爱爱"  >
                        爱爱爱
                         / <span style="font-size:12px;">愛愛愛 / THIS LOVE</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                20032人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1950025"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/10831759/"    title="好妹妹乐队 - 春生">
                    <img src="https://img1.doubanio.com/spic/s11095208.jpg" alt="好妹妹乐队 - 春生"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/10831759/"  title="春生"  >
                        春生
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                19553人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_10831759"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/10430415/"    title="逃跑计划 - 世界">
                    <img src="https://img1.doubanio.com/spic/s28104019.jpg" alt="逃跑计划 - 世界"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/10430415/"  title="世界"  >
                        世界
                         / <span style="font-size:12px;">Earth</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                19170人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_10430415"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1416697/"    title="Nirvana - Nirvana">
                    <img src="https://img3.doubanio.com/spic/s3020073.jpg" alt="Nirvana - Nirvana"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1416697/"  title="Nirvana"  >
                        Nirvana
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                18819人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1416697"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/5322559/"    title="Eminem... - Love The Way You Lie">
                    <img src="https://img1.doubanio.com/spic/s4420058.jpg" alt="Eminem... - Love The Way You Lie"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/5322559/"  title="Love The Way You Lie"  >
                        Love The Way You Lie
                         / <span style="font-size:12px;">爱你说谎的方式 / 爱你躺</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                18729人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_5322559"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1982538/"    title="陈绮贞 - PUSSY">
                    <img src="https://img3.doubanio.com/spic/s2144095.jpg" alt="陈绮贞 - PUSSY"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1982538/"  title="PUSSY"  >
                        PUSSY
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                19608人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1982538"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3788747/"    title="Original Soundtrack - The Boat That Rocked">
                    <img src="https://img3.doubanio.com/spic/s4194004.jpg" alt="Original Soundtrack - The Boat That Rocked"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3788747/"  title="The Boat That Rocked"  >
                        The Boat That Rocked
                         / <span style="font-size:12px;">海盗电台</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                18714人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3788747"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1455695/"    title="Coldplay - A Rush of  Blood to the Head">
                    <img src="https://img3.doubanio.com/spic/s8904216.jpg" alt="Coldplay - A Rush of  Blood to the Head"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1455695/"  title="A Rush of  Blood to the Head"  >
                        A Rush of  Blood to the Head
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                19547人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1455695"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394997/"    title="Evanescence - Fallen">
                    <img src="https://img3.doubanio.com/spic/s2189392.jpg" alt="Evanescence - Fallen"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394997/"  title="Fallen"  >
                        Fallen
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                19833人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394997"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4923069/"    title="苏打绿 - 十年一刻">
                    <img src="https://img1.doubanio.com/spic/s4424848.jpg" alt="苏打绿 - 十年一刻"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4923069/"  title="十年一刻"  >
                        十年一刻
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                19160人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4923069"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395617/"    title="Oasis - (What&#39;s The Story) Morning Glory?">
                    <img src="https://img3.doubanio.com/spic/s1944493.jpg" alt="Oasis - (What&#39;s The Story) Morning Glory?"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395617/"  title="(What&#39;s The Story) Morning Glory?"  >
                        (What&#39;s The Story) Morning Glory?
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                18693人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395617"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1403802/"    title="梁静茹 - 恋爱的力量">
                    <img src="https://img3.doubanio.com/spic/s3530552.jpg" alt="梁静茹 - 恋爱的力量"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1403802/"  title="恋爱的力量"  >
                        恋爱的力量
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                18978人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1403802"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1421569/"    title="Salyu - 呼吸">
                    <img src="https://img1.doubanio.com/spic/s2714357.jpg" alt="Salyu - 呼吸"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1421569/"  title="呼吸"  >
                        呼吸
                         / <span style="font-size:12px;">Breathe - All About Lily Chou-Chou / Lily Chou-Chou：呼吸</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                18848人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1421569"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1776070/"    title="王菲 - 天空">
                    <img src="https://img3.doubanio.com/spic/s3681285.jpg" alt="王菲 - 天空"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1776070/"  title="天空"  >
                        天空
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                18362人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1776070"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1413627/"    title="黑豹 - 黑豹">
                    <img src="https://img3.doubanio.com/spic/s1401153.jpg" alt="黑豹 - 黑豹"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1413627/"  title="黑豹"  >
                        黑豹
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                18494人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1413627"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="https://music.douban.com/top250?start=150"/>
            <a href="https://music.douban.com/top250?start=150" >&lt;前页</a>
        </span>
        
        

                
            <a href="https://music.douban.com/top250?start=0" >1</a>
        
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                <span class="thispage" data-total-page="10">8</span>
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=200"/>
            <a href="https://music.douban.com/top250?start=200" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/4802317b29bcd694.js"></script>
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis16-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

