<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
豆瓣音乐250
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img3.doubanio.com/f/music/b66ed708717bf0b4a005a4d0113af8843ef3b8ff/js/music/lib/jquery-1.11.0.min.js"></script>
    <script src="https://img3.doubanio.com/f/music/dcd7ea79bfc24a0b5d9a280a8ca59acceddd56be/js/music/lib/jquery-migrate-1.2.1.js"></script>
    <script src="https://img3.doubanio.com/f/shire/71ac0453da20ef0d46981120323c692ebfc729b5/js/douban.js"></script>
    <script src="https://img3.doubanio.com/f/shire/29449d396dacb28fd9949c709ccf02a46b910156/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img3.doubanio.com/f/shire/82d7c82f084d5157d7b87a17c76af984dd23dbbf/css/douban.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
    
    </style>
    
  <link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/music/0b02796a7856cc00772962a55a5f5bf288b681cb/css/music/_init_.css"/>

    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/42990b31d7d7605a.css">
    <script></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
       







<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=music" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=music" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">我们的精神角落</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 4.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-main&#34;,&#34;uid&#34;:&#34;0&#34;}">豆瓣</a>
            </li>
          
            
            <li class="">
            <a href="https://book.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-book&#34;,&#34;uid&#34;:&#34;0&#34;}">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-movie&#34;,&#34;uid&#34;:&#34;0&#34;}">电影</a>
            </li>
          
            
            <li class="on">
            <a href="https://music.douban.com/" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-music&#34;,&#34;uid&#34;:&#34;0&#34;}">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-location&#34;,&#34;uid&#34;:&#34;0&#34;}">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-group&#34;,&#34;uid&#34;:&#34;0&#34;}">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-read&#34;,&#34;uid&#34;:&#34;0&#34;}">阅读</a>
            </li>
          
            
            <li class="">
            <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-fm&#34;,&#34;uid&#34;:&#34;0&#34;}">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-commodity&#34;,&#34;uid&#34;:&#34;0&#34;}">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-market&#34;,&#34;uid&#34;:&#34;0&#34;}">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-moment&#34;,&#34;uid&#34;:&#34;0&#34;}">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&#34;from&#34;:&#34;top-nav-click-ypy&#34;,&#34;uid&#34;:&#34;0&#34;}">一拍一</a></td></tr>
                </table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>



       








<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https://music.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">唱片名、表演者、条码、ISRC</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
      <style>
          .nav-search,
          .nav .nav-primary {
              overflow: visible !important;
          }
          .nav-search {
              margin-left: 145px;
          }
      </style>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    
  
  <div class="nav-items nav-anon">
      <ul>
                          
                 <li><a href="https://music.douban.com/artists/">音乐人</a></li>
             
                 <li><a href="https://music.douban.com/artists/royalty/">金羊毛计划</a></li>
             
                 <li><a href="https://music.douban.com/topics/">专题</a></li>
             
                 <li><a href="https://music.douban.com/chart">排行榜</a></li>
             
                 <li><a href="https://music.douban.com/tag/">分类浏览</a></li>
             
                 <li><a href="https://music.douban.com/review/latest/">乐评</a></li>
             
                 <li><a href="https://music.douban.com/programmes/">歌单</a></li>
             
                 <li><a href="https://douban.fm/?from_=music_nav">豆瓣FM</a></li>
             
                 <li><a href="https://artist.douban.com/abilu/2015">阿比鹿2015</a></li>
      
      </ul>
  </div>

  </div>
</div>

    <script id="suggResult" type="text/template">
        <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg'})">
                <img src="{{= pic}}" width="40" />
                <div>
                    <em>{{= title}}</em>
                    {{if type == "m"}}
                        <span>(艺术家)</span>
                    {{else type == "a"}}
                        <span>(音乐人)</span>
                    {{else type == "d"}}
                        <span>(DJ)</span>
                    {{else type == "l"}}
                        <span>(厂牌)</span>
                    {{/if}}
                    {{if other_title}}
                        <span>其他名称：{{= other_title}}</span>
                    {{/if}}
                    {{if performer}}
                        <p>表演者：{{= performer}}</p>
                    {{/if}}
                    {{if cn_name}}
                        <p>{{= cn_name}}</p>
                    {{/if}}
                    {{if en_name}}
                        <p>{{= en_name}}</p>
                    {{/if}}
                </div>
            </a>
        </li>
    </script>
  
  





    <div id="wrapper">
        

        
<div id="content">
    
    <h1>豆瓣音乐250</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
  <div class="indent">
    


    
          <p class="ulfirst"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2995812/"    title="Jason Mraz - We Sing. We Dance. We Steal Things.">
                    <img src="https://img3.doubanio.com/spic/s2967252.jpg" alt="Jason Mraz - We Sing. We Dance. We Steal Things."/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2995812/"  title="We Sing. We Dance. We Steal Things."  >
                        We Sing. We Dance. We Steal Things.
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                98834人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2995812"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3040149/"    title="Coldplay - Viva La Vida">
                    <img src="https://img3.doubanio.com/spic/s3054604.jpg" alt="Coldplay - Viva La Vida"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3040149/"  title="Viva La Vida"  >
                        Viva La Vida
                         / <span style="font-size:12px;">Death And All His Friends</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                74637人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3040149"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1427374/"    title="陈绮贞 - 华丽的冒险">
                    <img src="https://img3.doubanio.com/spic/s1441645.jpg" alt="陈绮贞 - 华丽的冒险"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1427374/"  title="华丽的冒险"  >
                        华丽的冒险
                         / <span style="font-size:12px;">華麗的冒險</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                71708人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1427374"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3259411/"    title="五月天 - 後。青春期的詩">
                    <img src="https://img1.doubanio.com/spic/s3316597.jpg" alt="五月天 - 後。青春期的詩"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3259411/"  title="後。青春期的詩"  >
                        後。青春期的詩
                         / <span style="font-size:12px;">后青春期的诗</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                70443人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3259411"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1403307/"    title="周杰伦 - 范特西">
                    <img src="https://img3.doubanio.com/spic/s3750422.jpg" alt="周杰伦 - 范特西"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1403307/"  title="范特西"  >
                        范特西
                         / <span style="font-size:12px;">Fantasy</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                67714人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1403307"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/5958397/"    title="孙燕姿 - 是时候">
                    <img src="https://img1.doubanio.com/spic/s4653287.jpg" alt="孙燕姿 - 是时候"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/5958397/"  title="是时候"  >
                        是时候
                         / <span style="font-size:12px;">It&#39;s Time</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                68063人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_5958397"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3184419/"    title="Lenka - Lenka">
                    <img src="https://img3.doubanio.com/spic/s3259484.jpg" alt="Lenka - Lenka"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3184419/"  title="Lenka"  >
                        Lenka
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                68113人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3184419"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3041487/"    title="王若琳 - Start from Here">
                    <img src="https://img1.doubanio.com/spic/s2874587.jpg" alt="王若琳 - Start from Here"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3041487/"  title="Start from Here"  >
                        Start from Here
                         / <span style="font-size:12px;">从这里开始</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                63298人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3041487"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1395089/"    title="陈绮贞 - 旅行的意义">
                    <img src="https://img3.doubanio.com/spic/s1430722.jpg" alt="陈绮贞 - 旅行的意义"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1395089/"  title="旅行的意义"  >
                        旅行的意义
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.2</span>

                            <span class="pl">(
                                60489人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1395089"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3390002/"    title="陈绮贞 - 太阳">
                    <img src="https://img3.doubanio.com/spic/s3510113.jpg" alt="陈绮贞 - 太阳"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3390002/"  title="太阳"  >
                        太阳
                         / <span style="font-size:12px;">Immortal</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                63106人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3390002"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2131368/"    title="Glen Hansard... - Once (Soundtrack)">
                    <img src="https://img3.doubanio.com/spic/s2821080.jpg" alt="Glen Hansard... - Once (Soundtrack)"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2131368/"  title="Once (Soundtrack)"  >
                        Once (Soundtrack)
                         / <span style="font-size:12px;">Once / 电影《曾经》原声大碟</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                59667人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2131368"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394765/"    title="Keren Ann - Not Going Anywhere">
                    <img src="https://img1.doubanio.com/spic/s1431228.jpg" alt="Keren Ann - Not Going Anywhere"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394765/"  title="Not Going Anywhere"  >
                        Not Going Anywhere
                         / <span style="font-size:12px;">守候</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                59316人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394765"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1396380/"    title="Green Day - American Idiot">
                    <img src="https://img3.doubanio.com/spic/s1485602.jpg" alt="Green Day - American Idiot"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1396380/"  title="American Idiot"  >
                        American Idiot
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                58157人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1396380"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2134548/"    title="张震岳 - OK">
                    <img src="https://img1.doubanio.com/spic/s2591057.jpg" alt="张震岳 - OK"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2134548/"  title="OK"  >
                        OK
                         / <span style="font-size:12px;">思念是一种病</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.8</span>

                            <span class="pl">(
                                53222人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2134548"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3717116/"    title="苏打绿 - 無與倫比的美麗">
                    <img src="https://img3.doubanio.com/spic/s2757483.jpg" alt="苏打绿 - 無與倫比的美麗"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3717116/"  title="無與倫比的美麗"  >
                        無與倫比的美麗
                         / <span style="font-size:12px;">無與倫比的美麗</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                51674人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3717116"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/2131595/"    title="张悬 - 亲爱的...我还不知道">
                    <img src="https://img3.doubanio.com/spic/s2604331.jpg" alt="张悬 - 亲爱的...我还不知道"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/2131595/"  title="亲爱的...我还不知道"  >
                        亲爱的...我还不知道
                         / <span style="font-size:12px;">親愛的…我還不知道</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                51261人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_2131595"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/3801228/"    title="张悬 - 城市">
                    <img src="https://img3.doubanio.com/spic/s3786340.jpg" alt="张悬 - 城市"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/3801228/"  title="城市"  >
                        城市
                         / <span style="font-size:12px;">the city</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.3</span>

                            <span class="pl">(
                                50300人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_3801228"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1394590/"    title="Damien Rice - O">
                    <img src="https://img1.doubanio.com/spic/s2838077.jpg" alt="Damien Rice - O"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1394590/"  title="O"  >
                        O
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.1</span>

                            <span class="pl">(
                                47263人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1394590"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1431596/"    title="Green Day - Wake Me Up When September Ends UK CD Single 2">
                    <img src="https://img1.doubanio.com/spic/s3572868.jpg" alt="Green Day - Wake Me Up When September Ends UK CD Single 2"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1431596/"  title="Wake Me Up When September Ends UK CD Single 2"  >
                        Wake Me Up When September Ends UK CD Single 2
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                46020人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1431596"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1788174/"    title="张悬 - My Life Will...">
                    <img src="https://img1.doubanio.com/spic/s1884457.jpg" alt="张悬 - My Life Will..."/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1788174/"  title="My Life Will..."  >
                        My Life Will...
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.6</span>

                            <span class="pl">(
                                46242人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1788174"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/5351500/"    title="Adele - 21">
                    <img src="https://img3.doubanio.com/spic/s4527315.jpg" alt="Adele - 21"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/5351500/"  title="21"  >
                        21
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">9.0</span>

                            <span class="pl">(
                                44525人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_5351500"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1406522/"    title="周杰伦 - 叶惠美">
                    <img src="https://img3.doubanio.com/spic/s1425762.jpg" alt="周杰伦 - 叶惠美"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1406522/"  title="叶惠美"  >
                        叶惠美
                         / <span style="font-size:12px;">葉惠美</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.5</span>

                            <span class="pl">(
                                45944人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1406522"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/6816154/"    title="苏打绿 - 你在烦恼什么">
                    <img src="https://img3.doubanio.com/spic/s6987806.jpg" alt="苏打绿 - 你在烦恼什么"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/6816154/"  title="你在烦恼什么"  >
                        你在烦恼什么
                         / <span style="font-size:12px;">你在煩惱什麼</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.9</span>

                            <span class="pl">(
                                44864人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_6816154"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/1402531/"    title="王菲 - 寓言">
                    <img src="https://img3.doubanio.com/spic/s3336480.jpg" alt="王菲 - 寓言"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/1402531/"  title="寓言"  >
                        寓言
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar50"></span>
                            <span class="rating_nums">9.3</span>

                            <span class="pl">(
                                43326人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_1402531"></div>
    
          <p class="ul"></p>

        

        <table width="100%">
            <tr class="item">
                <td width="100" valign="top">
                    <a class="nbg" href="https://music.douban.com/subject/4738592/"    title="林宥嘉 - 感官/世界">
                    <img src="https://img3.doubanio.com/spic/s4039591.jpg" alt="林宥嘉 - 感官/世界"/>
                    </a>
                </td>
                <td valign="top">
                
                <div class="pl2">


                    <a href="https://music.douban.com/subject/4738592/"  title="感官/世界"  >
                        感官/世界
                         / <span style="font-size:12px;">Senses Around</span>
                    </a>







                    

                        
                        <div class="star clearfix">
                            <span class="allstar45"></span>
                            <span class="rating_nums">8.7</span>

                            <span class="pl">(
                                46052人评价
                            )</span>
                        </div>

                    

                    </div>
                </td>
            </tr>
        </table>
        <div id="collect_form_4738592"></div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="10">1</span>
                
            <a href="https://music.douban.com/top250?start=25" >2</a>
        
                
            <a href="https://music.douban.com/top250?start=50" >3</a>
        
                
            <a href="https://music.douban.com/top250?start=75" >4</a>
        
                
            <a href="https://music.douban.com/top250?start=100" >5</a>
        
                
            <a href="https://music.douban.com/top250?start=125" >6</a>
        
                
            <a href="https://music.douban.com/top250?start=150" >7</a>
        
                
            <a href="https://music.douban.com/top250?start=175" >8</a>
        
                
            <a href="https://music.douban.com/top250?start=200" >9</a>
        
                
            <a href="https://music.douban.com/top250?start=225" >10</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/top250?start=25"/>
            <a href="https://music.douban.com/top250?start=25" >后页&gt;</a>
        </span>

        </div>


  </div>

        </div>
        <div class="aside">
                
  <span class="indent pl">豆瓣用户每天都在对“听过”的音乐进行“很差”到“力荐”的评价，豆瓣根据每张唱片听过的人数以及该唱片所得的评价等综合数据，通过算法分析产生了豆瓣音乐250。</span>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2016 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://douban.fm/app">手机音乐</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

</div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/4802317b29bcd694.js"></script>
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dis16-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

